
@font-face {
    font-family: Poppins-Regular;
    src: url('../fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: Poppins-Bold;
    src: url('../fonts/poppins/Poppins-Bold.ttf');
}

@font-face {
    font-family: Poppins-Medium;
    src: url('../fonts/poppins/Poppins-Medium.ttf');
}

@font-face {
    font-family: Montserrat-Bold;
    src: url('../fonts/montserrat/Montserrat-Bold.ttf');
}

/* BODY PRESENTATION */

/* general element style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Poppins-Regular, sans-serif;
}

.fa:hover{
    color:#57b846;
}

.hide-page .fa-lock{
    color: #721c24;
}

.hide-page .fa-lock:hover{
    color: #c80000;
}

.text-center {text-align: center;}

.p-t-12 {padding-top: 12px;}

.p-t-136 {padding-top: 136px;}

/* define the body background and page presentation */
.login-page{

    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-flow: column;
    justify-content: center;
    flex-wrap: wrap;
    background: #9053c7;
    background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0);
    background: -o-linear-gradient(-135deg, #c850c0, #4158d0);
    background: -moz-linear-gradient(-135deg, #c850c0, #4158d0);
    background: linear-gradient(-135deg, #c850c0, #4158d0);

}

/* FORM PAGE */

/* define the container for the login form and picture */
.login-container{
    width: min-content;
    min-width: 300px;
    height: min-content;
    background: #fff;
    border-radius: 20px;
    overflow: hidden;
    margin-left:auto;
    margin-right:auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 177px 95px 37px 95px;
}

/* create elements alignment into the form page */
.login-wrapper{
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* image logo */
.login-pic {
    width: 316px;
    min-width: 300px;
}

/* FORM INPUTS */

/* define form login inputs alignment */
.login-form {
    width: 290px;
    margin-left: 125px;
}

.login-form-title {
    font-family: Poppins-Bold, sans-serif;
    font-size: 24px;
    color: #333333;
    line-height: 1.2;
    text-align: center;

    width: 100%;
    display: block;
    padding-bottom: 54px;
}

.wrap-input {
    display: flex;
    flex-direction:column;
    width: 100%;
    height: 50px;
    margin-bottom:20px;
    z-index: 1;
}

.input {
    font-family: Poppins-Medium, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #666666;

    display: block;
    width: 100%;
    background: #e6e6e6;
    height: 50px;
    border-radius: 25px;
    padding: 0 30px 0 68px;
}

.input:valid {

    background: #ffe8a1;

}


.symbol-input{
    font-size: 20px;
    top: -43px;
    position:relative;

    align-items: center;

    border-radius: 25px;
    width: min-content;
    height: 100%;
    padding-left: 30px;
    color: #666666;
    justify-content: left;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.hide-page{
    position:relative;
    top: -60px;
    left: 260px;
    width: min-content;
}

.container-login-form-button {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}

.login-form-button {
    font-family: Montserrat-Bold, sans-serif;
    font-size: 15px;
    z-index:1;
    line-height: 1.5;
    color: #fff;
    text-transform: uppercase;

    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: #57b846;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.container-login-form-button .loading_placeholder{
    font-family: Montserrat-Bold, sans-serif;
    display: none;
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    text-transform: uppercase;
    position:relative;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: #57b846;
    justify-content: center;
    align-items: center;
    padding: 0 25px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.container-login-form-button span img{
    height:25px;
    margin:auto;
}

.error_placeholder i:hover{
    color: white;
}

.container-login-form-button .error_placeholder{
    font-family: Montserrat-Bold, sans-serif;
    position: relative;
    display: none;
    font-size: 25px;
    line-height: 1.5;
    color: #fff;
    text-transform: uppercase;
    animation-name: shake;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: #c80000;
    justify-content: center;
    align-items: center;
    padding: 0 25px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.button-animation{
    animation-duration: 5s;
    animation-name:shake;
}

.login-form-button:hover {
    background: #333333;
}

@keyframes shake {
    0% {left: 0}
    1% {left: -3px}
    2% {left: 5px}
    3% {left: -8px}
    4% {left: 8px}
    5% {left: -5px}
    6% {left: 3px}
    7% {left: 0}
}

.txt1 {
    font-family: Poppins-Regular, sans-serif;
    font-size: 13px;
    line-height: 1.5;
    color: #999999;
}

.txt2 {
    font-family: Poppins-Regular, sans-serif;
    font-size: 13px;
    line-height: 1.5;
    color: #666666;

}

@media (max-width: 921px) {
    .login-container {
        padding: 100px 20px 33px 20px;
        margin-left: auto;
        margin-right: auto;
    }

    .login-pic {
        display: none;
    }

    .login-form {
        margin-left:auto;
        margin-right:auto;
    }

    .p-t-136{
        padding-top: 30px;
    }
}

