
@font-face {
    font-family: Poppins-Regular;
    src: url('../fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: Poppins-Bold;
    src: url('../fonts/poppins/Poppins-Bold.ttf');
}

@font-face {
    font-family: Poppins-Medium;
    src: url('../fonts/poppins/Poppins-Medium.ttf');
}

@font-face {
    font-family: Montserrat-Bold;
    src: url('../fonts/montserrat/Montserrat-Bold.ttf');
}

/*----------------------[ GLOBALS ]------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;

}

*:active, *:focus{
    -moz-outline-style: none;
}

*:after{
    outline: none 0;
}

input{
    outline: none;
}

body{

    background: #9053c7;
    background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0);
    background: -o-linear-gradient(-135deg, #c850c0, #4158d0);
    background: -moz-linear-gradient(-135deg, #c850c0, #4158d0);
    background: linear-gradient(-135deg, #c850c0, #4158d0);
}

body, html {
    height: min-content;
    width: 100%;
    font-family: Poppins-Regular, sans-serif;
    margin:0;
    padding:0;
    min-width:575px;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-flow: column;

}


/*----------------------[ CUSTOMS ]------------------------*/

.limiter {

    height: min-content;
    width: 100%;
}

.container_expand{

    background: rgba(0,0,0,0.6);
    width: 100%;
    min-height: 100vh;
    min-width: 575px;
    display: none;
}

.expand_device{

    min-width: 550px;
    width: 60%;
    max-width: 1000px;
    height: min-content;
    min-height: 600px;
    margin: 20vh auto auto;
    justify-content: center;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    background:  -webkit-linear-gradient(-135deg, #c800c0, #9053c7);
    background: white;
    border-color: white;
    border-width: 3px;
    border-style: solid;
}

.info_device{
    display:flex;
    flex-direction: row;
    width: 100%;
    padding-bottom: 30px;
    padding-top: 10px;
}

.info_device .fa-close{
    margin-right: 30px;
    margin-left: auto;
}

.info_device .fa-close:hover{
    color: #c80000;
}

.fa-refresh:hover{
    color: #57b846;
}

.device_actions{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 50px;
    padding-left: 50px;
    padding-right: 20px;
}

.device_actions label{
    height: 50px;
}

.actions_header{
    display: flex;
    flex-direction: row;
}

.actions_header_name{
    margin-left: 50px;
    margin-right: auto;
    margin-bottom: 10px;
    text-align: left;
    font-family: Montserrat-Bold, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #333333;
}

.actions_header_loc{
    margin-left: auto;
    margin-right: 60px;
    text-align: right;
    font-family: Montserrat-Bold, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #333333;
}
.device_actions select{
    height: 50px;
    font-family: Montserrat-Bold, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    min-width: 150px;
    color: #333333;
    text-transform: uppercase;
    border-radius: 25px;
    text-align: center;
    text-align-last:center;
    display: block;
    border: hidden;
    margin-right: 20px;
    margin-left: 50px;
}

.device_action option{
    text-transform: uppercase;
}

.statistics_header{
    margin-top: 25px;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    outline: 0;
    border-width: 0 0 2px;
    border-style: solid;
    border-color: #9053c7;
    font-family: Montserrat-Bold, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #333333;
}

.statistic_header{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    outline: 0;
    border-width: 0 0 2px;
    border-style: solid;
    border-color: #c800c0;
    font-family: Montserrat-Bold, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #333333;
}

.search_ok, .search_no{
    padding-top: 4px;
}

.search_ok:hover{
    color: #57b846;
}

.search_no:hover{
    color: #c80000;
}

.cheater{
    width: 100%;
    height: 10px;
    background: white;
    top: -10px;
    position: relative;
    z-index:5;
}

.statistic_period{
    display: flex;
    flex-direction: row;
    width: 95%;
    justify-content: space-between;
    margin-left: auto;
    margin-top: 5px;
    margin-right: auto;
    font-weight: bold;
    font-size: 14px;
    color: #6c757d;
}

.statistic_graph{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 235px;
    margin-bottom: auto;
    background: black;
}

.statistic_period input{
    width: 90px;

    font-size: 10px;
    border-radius: 20px;
    text-align: center;
    text-align-last: center;
}

.statistics{
    display: flex;
    flex-direction: row;
    min-height: 350px;
    height: min-content;
    width: 100%;
    padding: 0 50px 25px;
    justify-content: space-between;
}

.statistic{
    margin-top: 25px;
    width: 430px;
    height: 300px;
    margin-bottom: auto;
}

.graph_loader{
    width: 100%;
    height: 235px;
    padding-left: 47px;
    padding-right: 47px;
    background: white;
}

.graph_loader img{
    margin-left: auto;
    margin-right: auto;
    height: 100%;

}

.graph{
    width: 430px;
    height: 235px;
    display : none;
}
.container-webapp{

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-flow: column;


}

.header-webapp{
    width:100%;
    height:150px;
}

.location_menu{
    width:70%;
    height: 70px;
    margin-top:30px;
    margin-left:40px;
    justify-content: left;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.location_menu div{
    margin:0;
    display:inline;
    height:100%;
    align-items: flex-start;
    top:0;

}

.location_menu a{
    overflow:hidden;

}

.location_menu i{
    display:inline;
    justify-content: left;
    overflow:hidden;
    margin-left:10px;
    margin-top:auto;
    margin-bottom: auto;
    font-size:50px;
    color: palevioletred;
    font-weight: lighter;

}

.location_menu i:hover {
    display: inline;
    justify-content: left;
    margin-left: 10px;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 50px;
    color: #ff4655;
}

#angle_left{
    display: none;
}

#angle_right{
    display: none;
}


.button-wrapper{
    width:90%;
    display: inline;
    height: 70px;
    margin-top:30px;
    overflow: hidden;
}

#scroller{
    width:min-content;
    position:relative;
}

.body-webapp{
    width:100%;
    height: 100%;
    min-height: 300px;
    margin-bottom:auto;
}

.account-wrapper{
    border-radius: 10px;
    height:150px;
    width:400px;
    margin-top:25px;
    margin-left: auto;

    display: flex;
    flex-wrap: wrap;
    flex-flow:row;
}

.account-wrapper img{
    height:100%;
    display: inline;
}

.account-info-wrapper{
    display:inline;
    position:center;
}

.account-info-wrapper p{
    height:50%;
    margin:0;
    text-align: right;
    alignment: bottom;
    padding-top:10px;
    font-family: Poppins-Bold, sans-serif;
    font-size: 20px;
    color: #333333;
    line-height: 1.2;

}

.account-info-wrapper p:first-child{
    height:50%;
    margin:0;
    padding-top:50px;
    text-align: right;
    alignment:bottom;
    font-family: Poppins-Bold, sans-serif;
    font-size: 20px;
    color: #333333;
    line-height: 1.2;

}

.account-button-wrapper{

    display: inline;
}

#logout_label{
    margin-left:20px;
}

#settings_label{
    margin-left:20px;
}

.btn{
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: black;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}


.btn .fa {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
    left: 2px;
    top: 2.25px;
    border-radius: 50%;
    font-size: 18px;
    padding-left: 2px;
    background-image: -webkit-linear-gradient(#e8e8e8 0%, #d6d6d6 100%);
    background-image: linear-gradient(#e8e8e8 0%, #d6d6d6 100%);
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
    border-bottom: solid 2px #b5b5b5;
}

.button-wrapper div {
    display: flex;

    height: 65px;
    flex-flow: row;
    margin-bottom:auto;
    margin-top: auto;
}
.button-wrapper div a {

    width: 100%;
    max-width: 240px;
    min-width: 240px;
    height: 65px;
    padding: 8px;
    font-size: 0.8rem;
    font-weight: 900;
    color: #ff4655;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    position: center;
    display:inline;
    margin: 0 10px;
}

.button-wrapper div a.transparent:hover > p {
    color: #ece8e1;
}
.button-wrapper div a.transparent:hover > p span.text {
    box-shadow: 0 0 0 1px #ece8e1;
}

.button-wrapper div a.transparent > p span.base {
    border: 1px solid #ece8e1;
}

.button-wrapper div a:before {
    right: 0;
    left: initial;
}
.button-wrapper div a p {
    margin: 0;
    height: 54px;
    line-height: 54px;
    box-sizing: border-box;
    z-index: 1;
    left: 0;
    width: 100%;

    position: relative;
    overflow: hidden;
}
.button-wrapper div a p span.base {

    box-sizing: border-box;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    left: 0;
    border: 1px solid #ff4655;
}
.button-wrapper div a p span.base:before {
    content: "";
    width: 2px;
    height: 2px;
    left: -1px;
    top: -1px;
    background: #0f1923;
    position: absolute;
    transition: 0.3s ease-out all;
}
.button-wrapper div a p span.bg {
    left: -5%;
    position: absolute;
    background: #ff4655;
    width: 0;
    height: 100%;
    z-index: 3;
    transition: 0.3s ease-out all;
    transform: skewX(-10deg);
}
.button-wrapper div a p span.text {
    z-index: 4;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.button-wrapper div a p span.text:after {
    content: "";
    width: 4px;
    height: 4px;
    right: 0;
    bottom: 0;
    background: #0f1923;
    position: absolute;
    transition: 0.3s ease-out all;
    z-index: 5;
}
.button-wrapper div a:hover {
    color: #ece8e1;
}
.button-wrapper div a:hover span.bg {
    width: 110%;
}
.button-wrapper div a:hover span.text:after {
    background: #ece8e1;
}

.add_location_wrapper{
    width:60%;
    border-radius: 20px;
    max-width: 900px;
    margin-top:50px;
    height: 500px;
    margin-right:auto;
    margin-left: auto;
    background: white;
    display:none;
    flex-direction: row;
    flex-wrap: wrap;
}

label .fa{
    position: relative;
    top: -38px;
    left: 70px;
    font-size: 25px;
}
.info_col{

    border-radius: 20px;
    flex-grow:1;
    width: available;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info_col img{
    width:300px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 30px;

}

.info_col p{

    width:450px;
    margin-left:auto;
    margin-right:auto;
    font-size: 10px;
    text-align: center;

}

.outer {
    width: 1px;
    height: 100%;
    margin: auto;
    position: relative;
    overflow: hidden;
}
.inner {
    position: absolute;
    width:100%;
    height: 60%;
    background: grey;
    top: 20%;
    box-shadow: 0 0 30px 20px grey;
}

.add_location_form{
    border-radius: 20px;
    width: 300px;
    height: 300px;
    margin: 50px auto auto;
    background: white;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.add_sublocation_form{
    border-radius: 20px;
    width: 300px;
    height: 300px;
    margin: 0 auto auto;
    background: white;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.location_form_title{
    font-family: Poppins-Bold, sans-serif;
    font-size: 24px;
    color: #333333;
    line-height: 1.2;
    text-align: center;

    width: 100%;
    display: block;

    padding-top:50px;
    padding-bottom:20px;
}

.sublocation_form_title{
    font-family: Poppins-Bold, sans-serif;
    font-size: 24px;
    color: #333333;
    line-height: 1.2;
    text-align: center;

    width: 100%;
    display: block;

    padding-top:30px;
    padding-bottom:20px;
}

.add_location_submit{
    font-family: Montserrat-Bold, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    text-transform: uppercase;
    margin-left: auto;
    margin-right:auto;
    width: 70%;
    height: 50px;
    border-radius: 25px;
}


.add_location_submit .loading_placeholder{
    font-family: Montserrat-Bold, sans-serif;
    display: none;
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    text-transform: uppercase;
    position:relative;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: #57b846;
    justify-content: center;
    align-items: center;
    padding: 0 25px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.add_location_submit span img{
    height:25px;
    margin:auto;
}

.add_location_submit .error_placeholder{
    font-family: Montserrat-Bold, sans-serif;
    position: relative;
    display: none;
    font-size: 25px;
    line-height: 1.5;
    color: #fff;
    text-transform: uppercase;
    animation-name: shake;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: #c80000;
    justify-content: center;
    align-items: center;
    padding: 0 25px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.device_change_submit{
    font-family: Montserrat-Bold, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    text-transform: uppercase;
    margin-left: 20px;
    margin-right:auto;
    width: 135px;
    height: 50px;
    border-radius: 25px;
}


.device_change_submit .loading_placeholder{
    font-family: Montserrat-Bold, sans-serif;
    display: none;
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    text-transform: uppercase;
    position:relative;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: #57b846;
    justify-content: center;
    align-items: center;
    padding: 0 25px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.device_change_submit span img{
    height:25px;
    margin:auto;
}

.device_change_submit .error_placeholder{
    font-family: Montserrat-Bold, sans-serif;
    position: relative;
    display: none;
    font-size: 25px;
    line-height: 1.5;
    color: #fff;
    text-transform: uppercase;
    animation-name: shake;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: #c80000;
    justify-content: center;
    align-items: center;
    padding: 0 25px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.add_sublocation_submit{
    font-family: Montserrat-Bold, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    text-transform: uppercase;
    margin-left: auto;
    margin-right:auto;
    width: 70%;
    height: 50px;
    border-radius: 25px;
    margin-bottom: 30px;
}


.add_sublocation_submit .loading_placeholder{
    font-family: Montserrat-Bold, sans-serif;
    display: none;
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    text-transform: uppercase;
    position:relative;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: #57b846;
    justify-content: center;
    align-items: center;
    padding: 0 25px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.add_sublocation_submit span img{
    height:25px;
    margin:auto;
}

.add_sublocation_submit .error_placeholder{
    font-family: Montserrat-Bold, sans-serif;
    position: relative;
    display: none;
    font-size: 25px;
    line-height: 1.5;
    color: #fff;
    text-transform: uppercase;
    animation-name: shake;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: #c80000;
    justify-content: center;
    align-items: center;
    padding: 0 25px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

@keyframes shake {
    0% {left: 0}
    1% {left: -3px}
    2% {left: 5px}
    3% {left: -8px}
    4% {left: 8px}
    5% {left: -5px}
    6% {left: 3px}
    7% {left: 0}
}

.error_placeholder i:hover{
    color: white;
}

.button-animation{
    animation-duration: 5s;
    animation-name:shake;
}

.add_sublocation_form label{
    height:50px;
}
.add_sublocation_btn{

    font-family: Montserrat-Bold, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    text-transform: uppercase;
    width:100%;
    height:100%;
    background: #57b846;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;

}
.add_sublocation_btn:hover {
    background: #333333;
}

.input {
    font-family: Poppins-Medium, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #666666;
    margin-left: auto;
    margin-right:auto;
    margin-top:10px;
    display: flex;
    width: 70%;
    background: #e6e6e6;
    height: 50px;
    border-radius: 25px;
    padding: 0 0 0 68px;
    z-index:2;
}

.device_input {
    font-family: Poppins-Medium, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #666666;
    margin-left: 10px;
    margin-right:20px;
    margin-top:0;
    display: flex;
    width: 100%;
    background: #e6e6e6;
    height: 50px;
    border-radius: 25px;
    text-align: center;
    text-align-last: center;
    z-index:2;
}


.location-form-button {
    font-family: Montserrat-Bold, sans-serif;
    font-size: 15px;
    z-index:1;
    line-height: 1.5;
    color: #fff;
    text-transform: uppercase;

    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: #57b846;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.location-form-button:hover {
    background: #333333;
}

.location_wrapper{
    width:80%;
    height: min-content;
    margin-left: auto;
    margin-right: auto;
    display: none;
    flex-direction: column;
}


.location_button_wrapper{

    height: 65px;
    width: 500px;
    margin-left:auto;
    margin-right:0;
    display:flex;
    flex-direction: row;
    border-radius: 20px;
    margin-bottom: 50px;
}
.location_button_wrapper a {

    width: 100%;
    max-width: 240px;
    min-width: 240px;
    border-radius: 20px;
    height: 65px;
    padding: 8px;
    font-size: 15px;
    font-weight: bolder;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    position: center;
    display:inline;
    margin: 0 10px;
}

.location_button_wrapper a.transparent:hover > p {
    color: #ece8e1;
}
.location_button_wrapper a.transparent:hover > p span.text {
    box-shadow: 0 0 0 1px #ece8e1;
}

.location_button_wrapper a.transparent > p span.base {
    border: 1px solid #ece8e1;
}

.location_button_wrapper a:before {
    right: 0;
    left: initial;
}
.location_button_wrapper a p {
    margin: 0;
    height: 54px;
    line-height: 54px;
    border-radius: 20px;
    box-sizing: border-box;
    z-index: 1;
    left: 0;
    width: 100%;

    position: relative;
    overflow: hidden;
}


.location_rename_button .base {

    box-sizing: border-box;
    position: absolute;
    border-radius: 20px;
    z-index: 2;
    width: 100%;
    height: 100%;
    left: 0;
    border: 3px solid #e0a800;
}

.location_delete_button .base {

    box-sizing: border-box;
    position: absolute;
    border-radius: 20px;
    z-index: 2;
    width: 100%;
    height: 100%;
    left: 0;
    border: 3px solid #DC143C;
}


.location_button_wrapper a p span.base:before {
    content: "";
    width: 2px;
    height: 2px;
    left: -1px;
    top: -1px;
    background: #0f1923;
    position: absolute;
    transition: 3s ease-out all;
}

.location_rename_button .bg {
    left: -5%;
    position: absolute;

    background: #e0a800;
    width: 0;
    height: 100%;
    z-index: 3;
    transition: 0.3s ease-out all;
    transform: skewX(-10deg);
}

.location_delete_button .bg {
    left: -5%;
    position: absolute;

    background: #DC143C;
    width: 0;
    height: 100%;
    z-index: 3;
    transition: 3s ease-out all;
    transform: skewX(-10deg);
}



.location_button_wrapper a p span.text {
    z-index: 4;
    width: 100%;
    height: 100%;
    font-weight: bolder;
    font-size:15px;
    position: absolute;
    left: 0;
    top: 0;
}
.location_button_wrapper a p span.text:after {
    content: "Delete";
    width: 4px;
    height: 4px;
    right: 0;
    bottom: 0;
    background: #0f1923;
    position: absolute;
    transition: 3s ease-out all;
    z-index: 5;
}

.location_button_wrapper a:hover {
    color: #ece8e1;
}
.location_button_wrapper a:hover span.bg {
    width: 110%;
}
.location_button_wrapper a:hover span.text:after {
    background: #ece8e1;
}

.sublocation_header_wrapper{
    width:min-content;
    display:flex;
    flex-direction: row;
}

.sublocation_header_wrapper a {

    width: 100%;
    max-width: 210px;
    min-width: 210px;
    border-radius: 20px;
    height: 30px;
    font-size: 6px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    position: center;
    display:inline;
    margin-top:auto;
    margin-bottom:auto;

}

.sublocation_header_wrapper a.transparent:hover > p {
    color: #ece8e1;
}
.sublocation_header_wrapper a.transparent:hover > p span.text {
    box-shadow: 0 0 0 1px #ece8e1;
}

.sublocation_header_wrapper a.transparent > p span.base {
    border: 1px solid #ece8e1;
}

.sublocation_header_wrapper a:before {
    right: 0;
    left: initial;
}
.sublocation_header_wrapper a p {
    margin: auto;
    height: 30px;
    line-height: 30px;
    border-radius: 20px;
    box-sizing: border-box;
    z-index: 1;
    left: 0;
    width: 200px;

    position: relative;
    overflow: hidden;
}

a:focus{
    outline: none;
}

.sublocation_header_wrapper .base {

    box-sizing: border-box;
    position: absolute;
    border-radius: 20px;
    z-index: 2;
    width: 100%;
    height: 100%;
    left: 0;
    border: 3px solid #5897fb;
}

.rename_sublocation_wrapper .base {

    box-sizing: border-box;
    position: absolute;
    border-radius: 20px;
    z-index: 2;
    width: 100%;
    height: 100%;
    left: 0;
    border: 3px solid #e0a800;
}


.delete_sublocation_wrapper .base {

    box-sizing: border-box;
    position: absolute;
    border-radius: 20px;
    z-index: 2;
    width: 100%;
    height: 100%;
    left: 0;
    border: 3px solid #DC143C;
}

.sublocation_header_wrapper a p span.base:before {
    content: "";
    width: 2px;
    height: 2px;
    left: -1px;
    top: -1px;
    background: #0f1923;
    transition: 3s ease-out all;
}

.sublocation_header_wrapper .bg {
    left: -5%;
    position: absolute;

    background: #5897fb;
    width: 0;
    height: 100%;
    z-index: 3;
    transition: 0.3s ease-out all;
    transform: skewX(-10deg);
}

.rename_sublocation_wrapper .bg {
    left: -5%;
    position: absolute;

    background: #e0a800;
    width: 0;
    height: 100%;
    z-index: 3;
    transition: 0.3s ease-out all;
    transform: skewX(-10deg);
}

.delete_sublocation_wrapper .bg {
    left: -5%;
    position: absolute;

    background: #DC143C;
    width: 0;
    height: 100%;
    z-index: 3;
    transition: 3s ease-out all;
    transform: skewX(-10deg);
}


.sublocation_header_wrapper a p span.text {
    z-index: 4;
    width: 100%;
    height: 100%;
    font-weight: bolder;
    font-size:15px;
    position: absolute;
    left: 0;
    top: 0;
}
.sublocation_header_wrapper a p span.text:after {
    content: "Delete";
    width: 4px;
    height: 4px;
    right: 0;
    bottom: 0;
    background: #0f1923;
    position: absolute;
    transition: 3s ease-out all;
    z-index: 5;
}

.sublocation_header_wrapper a:hover {
    color: #ece8e1;
}
.sublocation_header_wrapper a:hover span.bg {
    width: 110%;
}
.sublocation_header_wrapper a:hover span.text:after {
    background: #ece8e1;
}

.delete_device_wrapper{
    display: inline;
    margin-left:20px;
    padding-top: 3px;
}

.delete_device_wrapper a{
    display: block;
    width: 200px;
    height: 25px;
    border-radius: 20px;
    line-height: 20px;
    font-size: 15px;
    font-family: Montserrat-Bold, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    color: #333;
    border: 3px solid #DC143C;
    padding-bottom:3px;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
}

.delete_device_wrapper a span{
    position: relative;
    z-index: 2;
    margin-top:auto;
    margin-bottom: auto;
}

.delete_device_wrapper a:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-radius: 20px;
    background: #ff003b;
    transition: all .35s;
}

.delete_device_wrapper a:hover{
    color: #fff;
}

.delete_device_wrapper a:hover:after{
    width: 100%;
}


.location_page{

    display: none;
    height: 100px;
    width: 100px;
    background: black;

}

.sublocation_wrapper{

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 40px;
    height:375px;
    width:100%;
}

.sublocation_content_wrapper{
    display:flex;
    flex-direction: row;

    position:relative;
    margin:auto;
    height:70%;
    width:95%;
    justify-content: left;

}

.sublocation_content_wrapper i{
    display:inline;
    margin-left:10px;
    margin-top:auto;
    margin-bottom: auto;
    font-size:50px;
    min-font-size: 50px;
    color: palevioletred;
    font-weight: lighter;
}

.sublocation_content_wrapper a{
    overflow: hidden;
}


.left_direction{
    display: none;
}

.right_direction{
    display: none;
}

.sublocation_content_wrapper i:hover {
    color: #ff4655;
}

.sublocation_content_wrapper div{
    display: flex;
}

.device_wrapper{
    overflow:hidden;
    width:100%;
    height:262px;
}

.device_scroller{
    display: inline;
    margin-top:auto;
    margin-bottom:auto;
    left:0;
    width:min-content;
    position:relative;
    height:min-content;
    justify-content: flex-start;
}



.heading_sublocation {

    font-size: 1.8em;
    vertical-align: center;
    margin-bottom:auto;
    margin-top:auto;
    letter-spacing: 0.08em;
    font-weight: 300;
    color: #FF00FF;
    text-transform: uppercase;
}


.divider_sublocation {
    border-bottom: 3px solid #FFF;
    background-color: #DADADA;
    height: 1px;
    min-width: 483px;
    margin: 0.5em 0 1.5em;
}

.divider_sublocation span {
    display: block;
    width: 50px;
    height: 30px;
    z-index:13;
    position:absolute;
    background-color: #c850c0;
}

.device-wrapper{
    width:90%;
    display: inline;
    height: 70px;
    margin-top:30px;
    overflow: hidden;
}

.container-popups{

    position:absolute;
    display:none;
    z-index:10;
    width:80%;
    height:375px;

}

.popups-wrapper{

    background:black;
    position:relative;
    padding-top: 25px;
    background: rgba(0,0,0,0.6);
    width:100%;
    height: 356.5px;
    min-width:483px;
    top:44px;
}

.rename_sublocation_popup{
    display: flex;
    flex-direction: column;
    margin-left:auto;
    margin-right:auto;
    width:400px;
    border-radius: 20px;
    height:95%;

    background: rgba(255,255,255,1);
}

.rename_location_popup{
    display: flex;
    flex-direction: column;
    margin-left:auto;
    margin-right:auto;
    width:400px;
    border-radius: 20px;
    height:95%;

    background: rgba(255,255,255,1);
}

.add_device_popup{
    display: flex;
    flex-direction: column;
    margin-left:auto;
    margin-right:auto;
    width:400px;
    border-radius: 20px;
    height:95%;

    background: rgba(255,255,255,1);
}

.add_device_popup select{
    margin-left: auto;
    margin-right: auto;
    width:min-content;
    padding-left: 25px;
    padding-right: 25px;
    height: 50px;
    font-family: Montserrat-Bold, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #333333;
    text-transform: uppercase;
    border-radius: 25px;
    text-align: center;
    text-align-last:center;
    display: block;
    border: hidden;
}

.add_device_popup option{
    width: min-content;
    text-align: center;
    text-align-last:center;
}
.simple_sublocation_btn{

    font-family: Montserrat-Bold, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    text-transform: uppercase;
    width:100%;
    height:100%;
    background: #57b846;
    border-radius: 25px;
    display:block;

}
.simple_sublocation_btn:hover {
    background: #333333;
}

.rename_sublocation_popup button{
    height: 50px;
    width:100%;

}

.popups i{
    z-index:3;
}


.rename_sublocation_popup form{
    margin-top: auto;
    margin-bottom: auto;
    justify-content: center;
}

.rename_sublocation_popup label{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position:relative;
    border: hidden;
}

.add_device_popup form{
    margin-top: auto;
    margin-bottom: auto;
    justify-content: center;
}

.add_device_popup label{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position:relative;
}

.rename_location_popup label{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position:relative;
}

.rename_sublocation_popup .input{
    width: 280px;
}

.rename_location_popup .input{
    width: 280px;
}

.add_device_popup .input{
    width: 280px;
}

.rename_location_popup form{
    margin-top: auto;
    margin-bottom: auto;
    justify-content: center;

}

.add_device_popup form{
    margin-top: auto;
    margin-bottom: auto;
    justify-content: center;

}

.rename_sublocation_popup .close_button{
    margin-left: auto;
    margin-right: 0;
    position: relative;
    left:360px;
}

.add_device_popup .close_button{
    margin-left: auto;
    margin-right: 0;
    position: relative;
    left:360px;
}

.rename_location_popup .close_button{
    margin-top: auto;
    margin-bottom: 0;
    position: relative;
    left:360px;
}

.rename_location_popup button{
    height: 50px;
    width:100%;
}


.add_sublocation_popup {
    width:min-content;
    height:95%;
    margin-left:auto;
    margin-right:auto;
    border-radius: 20px;
    display:flex;
    flex-direction: row;
    background: rgba(255,255,255,1);
}

.add_sublocation_popup img{
    height:250px;
    margin: auto 20px;
}

.popup_input_wrapper{
    background:rgba(255,255,255,1);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    width:500px;
    height:90%;
    margin:auto;
    padding-bottom:50px;

}

.rename_sublocation_popup .popup_input_wrapper{
    background:rgba(255,255,255,1);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    width:500px;
    height:90%;
    margin:auto;
    padding-bottom:30px;

}

.popup_input_wrapper h1{
    margin: 30px auto;
    font-family: Poppins-Bold, sans-serif;
    font-size: 24px;
    color: #333333;
    line-height: 1.2;

}


.popup_input_wrapper i{
    left:100px;
}

.close_button{
    margin-top:15px;
    margin-right:30px;
    margin-left:auto;
    font-size:20px;
    width:10px;
    height:10px;

}

.close_button:hover{
    color:red;

}

.pup_input_wrapper input{
    width: 70%;

}

.popup_input_wrapper button{
    font-family: Montserrat-Bold, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    text-transform: uppercase;

    height: 50px;
    border-radius: 25px;
    background: #57b846;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;

    width:70%;
    margin-left:auto;
    margin-right:auto;

}

.popup_input_wrapper button:hover{
    background-color: #0f1923;
}

.rename_location_popup{
    display:none;
}


.add_device_popup {
    display: none;
}

.manage_device_popup {
    display:none;
}

.device{
    height: 250px;
    width: 350px;
    min-width: 350px;
    display:flex;
    flex-direction: column;
    border-radius: 20px;
    background:  -webkit-linear-gradient(-135deg, #c800c0, #9053c7);
    border-color: white;
    border-width: 3px;
    border-style: solid;
    margin-left:20px;
    overflow: hidden;
}

.device .fa-circle{
    color: #57b846;
    font-size: 15px;
}

.device .fa-arrows-alt{
    color: black;
    font-size: 20px;
    margin-left:auto;
    margin-right:25px;
}

.range_input{
    width: 130px;
}

.wrapper{
    width:100%;
    display: flex;
    flex-direction:row;
}

.device_buttons{
    display: flex;
    flex-direction: column;
    width:50%;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 20px;
    height: min-content;
}


.range{
    width: 10%;
    margin-left:auto;
    margin-right: auto;
}

.device_buttons input{

    margin-right:0;
    margin-left:auto;
}

.device_buttons i{

    margin-right:20px;
    margin-left:auto;
}

.device_expander{
    font-size:10px;
    font-weight: lighter;
    width: 30px;
    height: 30px;
    position:relative;
    display: inline;
    left: 120px;
    top: -30px;
    margin-right:0;
}

.device_expander_name{
    text-transform: uppercase;
    margin-top:auto;
    margin-bottom:auto;
    height: min-content;
    padding-left: 30px;
    padding-bottom: 5px;
    color: #FF00FF;
    font-size:22px;
    font-weight: bold;
}

.device_header_wrapper{
    display: flex;
    flex-direction: row;
}


.device img{
    height: 150px;
    width: 150px;
    margin:auto;
    z-index:3;
}

.device .img_container{
    height: 200px;
    width:200px;
    border-radius: 25px;
    overflow:hidden;
    margin-top:auto;
    border-style: none;
    background: none;
}

.device .conditioner_img_container{
    display: inline;
}

.img_container img{
    background: none;
}

.sublocation_content_wrapper div .temperature_bar{
    padding-left:4px;
    padding-right:4px;
    padding-top:0;
    border-radius: 20px;
    height:15px;
    background: #0a8dff;
    position:relative;
    top:112px;
    left: 91px;
    z-index: 4;
    display: inline;
    min-width:10px;
}

.sublocation_content_wrapper div .temperature_sensor{
    position:relative;
    font-family: Poppins-Medium, sans-serif;
    font-size: 36px;
    text-align: right;
    top:32px;
    color: black;
    left: 52px;
    z-index: 4;
    display: inline;
}

.sublocation_content_wrapper .conditioner_img_container .temperature_bar{
    padding-left:4px;
    padding-right:4px;
    padding-top:0;
    border-radius: 20px;
    height:15px;
    background: #0a8dff;
    position:relative;
    top:80px;
    left: 87px;
    z-index: 4;
    display: inline;
    min-width:10px;
}

.sublocation_content_wrapper .conditioner_img_container .temperature_sensor{
    position:relative;
    font-family: Poppins-Medium, sans-serif;
    font-size: 36px;
    text-align: right;
    color: black;
    left: 48px;
    z-index: 4;
    display: inline;
}

.conditioner_pic{

    position: relative;
    top: -30px;
    left: 30px;
}


.set_temperature{
    width:70px;
}

.device .condition_fan{
    width:40px;
    height:40px;
    position: relative;
    left: 7px;
    top:115px;
    margin:0;
}

.sublocation_content_wrapper div .light_ball{
    display: none;
    width: 5px;
    height: 5px;
    left: -76px;
    top: 90px;
    position: relative;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 60px 40px #ECFF00;
    opacity: 0;
    z-index: 4;
}


.device_title{
    font-family: Poppins-Bold, sans-serif;
    font-size: 15px;
    color: #333333;
    line-height: 1.2;
    margin-left:23px;
    margin-top:10px;
    text-transform: uppercase;
}

.brightness_value{
    font-family: Poppins-Medium, sans-serif;
    font-size: 15px;
    font-weight: lighter;
    color: #333333;
    line-height: 1.2;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5px;
    text-transform: uppercase;
}

.brightness_input{
    width: 150px;
}

.device .fa-unlock:hover{
    color: #57b846;
}

.device .fa-unlock{
    color: #28a745;
}

.device .fa-lock:hover{
    color: #5897fb;
}

.device .fa-lock{
    color: #007bff;
}


.speed_value{
    font-family: Poppins-Medium, sans-serif;
    font-size: 15px;
    font-weight: lighter;
    color: #333333;
    line-height: 1.2;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5px;
    text-transform: uppercase;
}

.speed_input{
    width: 100px;
}

.color_input{
    background: none;
    width: 40px;
}

@media( max-width: 1615px){
    .statistics{
        flex-direction: column;
    }

    .statistic{
        margin-left: auto;
        margin-right: auto;
    }
}
@media (max-width: 1270px){
    .add_location_wrapper{
        width:90%;
    }

}

@media (max-width: 840px){

    .add_location_wrapper{
        width:95%;
    }
    .info_col{
        display:none;
    }
    .outer{
        display:none;
    }
    .location_button_wrapper{
        margin-left:auto;
        margin-right:auto;
    }

}

@media (max-width: 576px) {
    
    .info_col{
        display:none;
    }

    .outer{
        display:none;
    }

    .location_button_wrapper{
        margin-left:0;
        margin-right:auto;
        justify-content: left;
    }

    body,html{
        min-height: 1080px;
    }

    .container_expand{
        min-height: 1080px;
    }
}